/**
  26 * 62.5% === 10px === 1rem
 */
html {
    font-size: 62.5%;
}

@media (min-width: 375px) {
    html {
        font-size: 37.5%;
    }
}

@media (min-width: 414px) {
    html {
        font-size: 37.5%;
    }
}

@media (min-width: 576px) {
    html {
        font-size: 37.5%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 62.5%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 75%;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 87.5%;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 100%;
    }
}

/* viewport height === vh */
html body #root .App {
    min-height: 100vh;
}

.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
